{% extends "base.html" %}

{% block title %}Audiobooks{% endblock %}

{% block content %}
  <div class="mb-10 text-right">
    <div class="stats stats-horizontal shadow">

      <div class="stat">
        <div class="stat-title">Free</div>
        <div class="stat-value">{{ freeSpace }}</div>
        <div class="stat-desc">{{ freePercent }} %</div>
      </div>

      <div class="stat">
        <div class="stat-title">Used</div>
        <div class="stat-value">{{ usedSpace }}</div>
        <div class="stat-desc">{{ usedPercent }} %</div>
      </div>

      <div class="stat">
        <div class="stat-title">Total</div>
        <div class="stat-value">{{ totalSpace }}</div>
        <div class="stat-desc"></div>
      </div>

    </div>
  </div>
  <div class="overflow-x-auto border border-gray-200 md:rounded-lg">
    <table class="table table-zebra">
      <thead class="bg-gray-50">
        <tr>
          <th>Name</th>
          <th>State</th>
          <th>Size</th>
          <th>Tag</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <td>{{ item["name"] }}</td>
            <td>
              {% if item["state"] is not none %}
                {{ (item["state"]["elapsed"]/60)|int }} / {{ (item["state"]["duration"]/60)|int }}
              {% else %}
                --
              {% endif %}
            </td>
            <td>{{ sizeof_fmt(item["size"], 'B') }}</td>
            <td>
              {% if item["tag"] is not none %}
                <div class="badge badge-accent">{{ item["tag"] }}</div>
              {% endif %}
            </td>
            <td>
              <a href="{{ url_for('play', name=item['name']) }}" class="btn btn-accent btn-xs">Play</a>
              <a href="{{ url_for('play_from_start', name=item['name']) }}" class="btn btn-accent btn-xs">Play from Start</a>
              {% if item["tag"] is not none %}
                <a href="{{ url_for('remove_tag', tag=item['tag']) }}" class="btn btn-neutral btn-xs">Clear Tag</a>
              {% else %}
                <a href="{{ url_for('add_tag', name=item['name']) }}" class="btn btn-neutral btn-xs">Add Tag</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
